services:
  server:
    build: server
    restart: unless-stopped
    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - ./server:/app
    env_file:
      - server/.env
  


  client:
    build: client
    restart: unless-stopped
    env_file:
      - client/.env
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - 5173:5173
    depends_on:
      - server
